**/node_modules
**/oh_modules
**/local.properties
**/.idea
**/dist
**/build
**/.hvigor
**/.test
**/.appanalyzer
**/.deveco-sdk-shim-v2/
**/.deveco-sdk-shim/
**/.hvigor/outputs/build-logs/
**/.preview



flutter/ohos/.hvigor/cache/
flutter/ohos/.hvigor/outputs/logs/
